<div class="center jumbotron">
  <h1><%= t(:welcome, scope: :static_pages) %></h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">
      <%= t(:railstutorial, scope: :static_pages) %>
    </a>
    sample application.
  </h2>

  <%= link_to signup_path, :class => "btn btn-lg btn-primary" do %>
    <%= t(:signup_now, scope: :static_pages) %>
  <% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
  'http://rubyonrails.org/' %>
